.AdvertisingData_container {
  display: flex;
  margin: 50px;
}

.AdvertisingData_panel {
  border-right: solid 1px #c4c4c4;
  width: 400px;
}

.AdvertisingData_chart {
  flex-grow: 1;
  padding: 25px;
}


